
//This code will be run on sass and it will produce a css file. The produced css file is the file that will be used on your project

$color: red;

ul {
    font-size: 14px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}








